[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/Vundle.vim
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/Commannd-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "bundle/ctrl-p"]
	path = bundle/ctrl-p
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/neo-completion-cache"]
	path = bundle/neo-completion-cache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/template"]
	path = bundle/template
	url = https://github.com/aperezdc/vim-template/
[submodule "bundle/t-comment"]
	path = bundle/t-comment
	url = https://github.com/vim-scripts/tComment
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/opengl-syntax-highlight"]
	path = bundle/opengl-syntax-highlight
	url = https://github.com/beyondmarc/opengl.vim
[submodule "bundle/togglelist"]
	path = bundle/togglelist
	url = https://github.com/milkypostman/vim-togglelist
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/co-vim"]
	path = bundle/co-vim
	url = https://github.com/FredKSchott/CoVim
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/zenroom"]
	path = bundle/zenroom
	url = https://github.com/amix/vim-zenroom
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
